/* COLORS
	- header background   #ffffff - white
	- default background  #eaedf1
	- button background   linear-gradient(to bottom,
                        rgb(232, 240, 254, 1) 0%,
                        rgb(216, 231, 255) 100%);
*/

/* FONTS
  - logo text           font-family: 'Varela Round', sans-serif;
	- default body text   font-family: 'Lato', sans-serif;
	- other text    font-family: 'Roboto', sans-serif;
*/

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
}

h1 {
  margin: 0;
}

p {
  word-wrap: normal;
}

.landing-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.user-signup-login {
  max-width: 265px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 21px 43px -12px rgba(0, 0, 0, 0.75);
  /* flex-basis: 0; */
  margin-top: 20px;
}

.app-description {
  min-width: 300px;
  max-width: 800px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 21px 43px -12px rgba(0, 0, 0, 0.75);
  /* flex-basis: 90vw; */
  text-align: center;
}

form {
  padding-top: 10px;
}

form fieldset {
  padding: 10px;
  border: none;
}

.form-row {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-form-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input {
  margin-left: 5px;
  margin-bottom: 5px;
}

.form-questions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.test-account {
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: limegreen;
}

button,
input[type='button'],
input[type='submit'] {
  background: linear-gradient(
    to bottom,
    rgb(232, 240, 254, 1) 0%,
    rgb(216, 231, 255) 100%
  );
  color: black;
  padding: 5px 15px;
  margin: 5px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}

.modal {
  background-color: white;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 21px 43px -12px rgba(0, 0, 0, 0.75);
  width: 100vw;
}

.modal-content {
  height: 100%;
  overflow: auto;
  /* width: 100vw; */
}

.modal-close {
  float: right;
}

.add-client-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.justified-center {
  justify-content: center;
}

/* ===HEADER=== */
.app-header {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
}

.logo-container {
  display: flex;
  align-items: center;
}
/* .logo-image {} */
.logo-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 39px;
}

.user-container {
  display: flex;
  align-items: center;
}
/* .user-text {} */
/* .user-logout-button {} */

/* ===ALL SCREENS=== */

.screen {
  background: #eaedf1;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  align-items: center;
}

.background-image {
  background: url('../img/edit-low.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* ===CLIENTS SCREEN=== */

.clients-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 8px;
  background: white;
  box-shadow: 0px 21px 43px -12px rgba(0, 0, 0, 0.75);
  justify-content: space-between;
}

.client:hover {
  background: #f1f2f5;
}

.client-list {
  width: 100vw;
}

.client-list-header {
  text-align: center;
  margin-top: 10px;
}

.client-options {
  text-align: center;
}

.client-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list-name {
  padding: 0 20px;
}

.red {
  background: #fa5a5a;
}
.yellow {
  background: #f0d264;
}
.green {
  background: #82c8a0;
}
.cyan {
  background: #7fccde;
}
.blue {
  background: #6698cb;
}
.purple {
  background: #cb99c5;
}

.client-icon-letter {
}

.delete-client {
}

.delete-client,
.delete-note {
}
.delete-client:hover,
.delete-note:hover {
  color: darkred;
}

.client-image-container {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.placeholder {
  position: absolute;
  color: white;
  font-weight: bolder;
  top: 80px;
  left: 20px;
  text-shadow: 0px 0px 3px #000000;
}

.client-img-logo {
  width: 50px;
  height: 50px;
}

.client-detail-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.client-detail-container {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.client-detail-container i {
  margin-right: 10px;
}

.client-detail-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 21px 43px -12px rgba(0, 0, 0, 0.75);
}

.client-detail-row {
  margin-bottom: 5px;
}

.client-detail-buttons {
  text-align: center;
}

.note-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-buttons {
  display: flex;
}

.client-notes {
  display: flex;
  flex-direction: column;
}

.client-notes-header {
  text-align: center;
  font-weight: bold;
}

.update-client-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
}

form {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
  }

  .logo-text {
    font-size: 45px;
  }

  .landing-page {
    padding-top: 50px;
  }

  .app-description {
    max-width: 80vw;
  }

  .client-list {
    width: auto;
    min-width: 90vw;
  }

  .client-detail-card {
    width: auto;
    max-width: 90vw;
  }

  .modal {
    width: auto;
  }

  .form-row {
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .client-list {
    width: auto;
    min-width: 80vw;
  }

  .client-detail-card {
    width: auto;
    max-width: 80vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .client-list {
    width: auto;
    min-width: 70vw;
  }

  .client-detail-card {
    width: auto;
    max-width: 70vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .client-list {
    width: auto;
    min-width: 830px;
  }

  .client-detail-card {
    width: auto;
    max-width: 830px;
  }
}
