* {
  background-color: beige;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.user-signup-login {
  max-width: 50%;
  top: -10vh;
}

form fieldset{
  display: flex;
  padding: 20px;
}

.error { 
  color: red;
}

.success {
  color: limegreen;
}

.modal {
  position: absolute;
  z-index: 1000;
  background-color: grey;
}